workflows/advanced/advanced_nr_workflow.json
[
    {
        "id": "f6f2187d.f17ca8",
        "type": "tab",
        "label": "Lexicon Advanced Workflow",
        "disabled": false,
        "info": "",
        "env": [
            {
                "name": "HOST_IP",
                "value": "10.0.0.19",
                "type": "str"
            }
        ]
    },
    {
        "id": "440b9672ed479c15",
        "type": "group",
        "z": "f6f2187d.f17ca8",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [],
        "x": 0,
        "y": 0,
        "w": 40,
        "h": 40
    },
    {
        "id": "1259cc504cd4bce7",
        "type": "group",
        "z": "f6f2187d.f17ca8",
        "name": "Hotcue Properties",
        "style": {
            "label": true
        },
        "nodes": [
            "8edba831be43e335",
            "2565a4cce0bf913e",
            "10942ef9550db8a9",
            "216d36b450f46b70",
            "180a89bcfa0dc3f1",
            "2728cd8db8d0e789",
            "e274fa24373f795d",
            "da1a6d688ba2f2fa",
            "2e97419f4f12e6a2",
            "db2f086cc176a4d8",
            "859944f8fe694ba8",
            "695799a00a7f6a10",
            "fbf7630f81fc9b0e",
            "645db50a9298d24a",
            "861f280fe8ada5f0",
            "213a795c27e5c8a7",
            "4ee06deb731a5149",
            "3dcbd3f1880bb4b3",
            "d3b5945137920cf8",
            "8cf2bccc7aeeb2fd",
            "b54e3218ca55d02a",
            "dc7bcd926bfbc5b0",
            "aa720e0186adcac7"
        ],
        "x": 34,
        "y": 39,
        "w": 1492,
        "h": 282
    },
    {
        "id": "2637f2942bfebe7e",
        "type": "group",
        "z": "f6f2187d.f17ca8",
        "name": "Hotcue Modification",
        "style": {
            "label": true
        },
        "nodes": [
            "a094c7535a47389b",
            "3908ce1703665b89",
            "df4ad185d43e4185",
            "cf6cdbda66e51f78",
            "21733758d1e9866b",
            "80dd8c8f416f7904",
            "56c5ece56e17a587",
            "3e55d3846750c2ee",
            "455944651c0e9b9a",
            "dad7a97684b69837",
            "578702576de7f698",
            "d96d7cd009dff088",
            "9899db52f93909f3",
            "1d5ad53226a8d60d",
            "fc9de93d80c8a5aa",
            "e68335e7637ba3a6",
            "ab2f005bb97ba11a",
            "7c8448bfae7be21d",
            "ea5d0db897016a4a",
            "418a8844eeabe5a2",
            "1a2ddd55594ad60b",
            "64a1105c43380825",
            "4d989fa9672072c8"
        ],
        "x": 34,
        "y": 339,
        "w": 2972,
        "h": 422
    },
    {
        "id": "418a8844eeabe5a2",
        "type": "group",
        "z": "f6f2187d.f17ca8",
        "g": "2637f2942bfebe7e",
        "name": "Get Playing Track & Requested Hotcue",
        "style": {
            "label": true
        },
        "nodes": [
            "9b853570696a58bc",
            "e2c6b22c5b5f022b",
            "7e91528d15d855d5",
            "bbd7396b6f409af0",
            "646b26661549d44d"
        ],
        "x": 254,
        "y": 419,
        "w": 992,
        "h": 82
    },
    {
        "id": "1a2ddd55594ad60b",
        "type": "group",
        "z": "f6f2187d.f17ca8",
        "g": "2637f2942bfebe7e",
        "name": "Get Track Info from DB",
        "style": {
            "label": true
        },
        "nodes": [
            "9d979931dff6a7b2",
            "f778b6dd28f5f7e0",
            "f54c99c0b471f69f"
        ],
        "x": 1274,
        "y": 419,
        "w": 652,
        "h": 82
    },
    {
        "id": "64a1105c43380825",
        "type": "group",
        "z": "f6f2187d.f17ca8",
        "g": "2637f2942bfebe7e",
        "name": "Create Edit Request & Execute",
        "style": {
            "label": true
        },
        "nodes": [
            "b6e629a603905532",
            "919e93221592a473",
            "eb9e3a989515a301",
            "4e873f91f89e0cf8"
        ],
        "x": 1954,
        "y": 419,
        "w": 812,
        "h": 82
    },
    {
        "id": "f650764e5cd5d6ae",
        "type": "group",
        "z": "f6f2187d.f17ca8",
        "name": "Tag Workflow",
        "style": {
            "label": true
        },
        "nodes": [
            "f42cb6858f28c0d7",
            "45e991c1c7b6e33d",
            "2ba392ad03723b3e",
            "51c167f56c927c6b",
            "181adefd5035bf5c",
            "910ffde140cf4f69",
            "f7aa7f1f63828d95",
            "d5d3af59ba60cb9c",
            "24b6f38c4401919c",
            "6c3ac3e24a827e24",
            "c061e89d5957c355",
            "5a45a9af78ee1a4e",
            "09317b1d68d0b28a",
            "a24105d84afa685e",
            "e451a71eec76eb16",
            "41857bcf23135a6a",
            "7b9551ede587f0b6",
            "7fb75fe2353bd6fd",
            "59c6fab70cd6ca90",
            "02ccc8da806fd20d",
            "1e040f5058f12703",
            "e1bfda935a3c9229",
            "de19730850b48450"
        ],
        "x": 34,
        "y": 779,
        "w": 2892,
        "h": 382
    },
    {
        "id": "9b853570696a58bc",
        "type": "sd-input",
        "z": "f6f2187d.f17ca8",
        "g": "418a8844eeabe5a2",
        "name": "Stream Deck In",
        "x": 360,
        "y": 460,
        "wires": [
            [
                "e2c6b22c5b5f022b"
            ]
        ]
    },
    {
        "id": "a094c7535a47389b",
        "type": "websocket in",
        "z": "f6f2187d.f17ca8",
        "g": "2637f2942bfebe7e",
        "name": "",
        "server": "b33717f94a7746f9",
        "client": "",
        "x": 150,
        "y": 460,
        "wires": [
            [
                "9b853570696a58bc"
            ]
        ]
    },
    {
        "id": "e2c6b22c5b5f022b",
        "type": "switch",
        "z": "f6f2187d.f17ca8",
        "g": "418a8844eeabe5a2",
        "name": "Key Down",
        "property": "payload.event",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "keyDown",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 530,
        "y": 460,
        "wires": [
            [
                "7e91528d15d855d5",
                "80dd8c8f416f7904"
            ]
        ]
    },
    {
        "id": "7e91528d15d855d5",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "g": "418a8844eeabe5a2",
        "name": "Get Hotcue #",
        "rules": [
            {
                "t": "set",
                "p": "context.hotcue.number",
                "pt": "msg",
                "to": "payload.payload.settings.id",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 710,
        "y": 460,
        "wires": [
            [
                "bbd7396b6f409af0"
            ]
        ]
    },
    {
        "id": "646b26661549d44d",
        "type": "http request",
        "z": "f6f2187d.f17ca8",
        "g": "418a8844eeabe5a2",
        "name": "Get Playing Track",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "Content-Type",
                "keyValue": "",
                "valueType": "other",
                "valueValue": "application/json"
            }
        ],
        "x": 1130,
        "y": 460,
        "wires": [
            [
                "9d979931dff6a7b2"
            ]
        ]
    },
    {
        "id": "dc7bcd926bfbc5b0",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "g": "1259cc504cd4bce7",
        "name": "Hotcue Atrributes",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1330,
        "y": 280,
        "wires": []
    },
    {
        "id": "3908ce1703665b89",
        "type": "websocket out",
        "z": "f6f2187d.f17ca8",
        "g": "2637f2942bfebe7e",
        "name": "",
        "server": "b33717f94a7746f9",
        "client": "",
        "x": 2890,
        "y": 460,
        "wires": []
    },
    {
        "id": "f54c99c0b471f69f",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "g": "1a2ddd55594ad60b",
        "name": "All Hotcues",
        "rules": [
            {
                "t": "set",
                "p": "context.hotcues",
                "pt": "msg",
                "to": "payload.data.track.cuepoints",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "response",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1830,
        "y": 460,
        "wires": [
            [
                "b6e629a603905532"
            ]
        ]
    },
    {
        "id": "919e93221592a473",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "g": "64a1105c43380825",
        "name": "Update Hotcue Info",
        "func": "//find cuepoint in response\nfor (let index = 0; index < msg.payload.response.data.track.cuepoints.length; index++) {\n    if (msg.payload.response.data.track.cuepoints[index].id == msg.payload.hotcue.id &&\n        msg.payload.response.data.track.id == msg.payload.hotcue.trackId){\n        //replace the current cuepoint with the hotcue\n        msg.payload.response.data.track.cuepoints[index] = msg.payload.hotcue\n    }\n}\n\nmsg.payload = msg.payload.response\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2210,
        "y": 460,
        "wires": [
            [
                "eb9e3a989515a301",
                "21733758d1e9866b"
            ]
        ]
    },
    {
        "id": "b6e629a603905532",
        "type": "join",
        "z": "f6f2187d.f17ca8",
        "g": "64a1105c43380825",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 2030,
        "y": 460,
        "wires": [
            [
                "919e93221592a473",
                "4d989fa9672072c8"
            ]
        ]
    },
    {
        "id": "df4ad185d43e4185",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "g": "2637f2942bfebe7e",
        "name": "URL For PATCH",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2660,
        "y": 380,
        "wires": []
    },
    {
        "id": "eb9e3a989515a301",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "g": "64a1105c43380825",
        "name": "Create Update JSON",
        "func": "var body = {\n    id: msg.payload.data.track.id,\n        edits: {\n            cuepoints: msg.payload.data.track.cuepoints\n    }\n}\n\nlet hostIP = env.get(\"HOST_IP\")\nvar url = `http://${hostIP}:48624/v1/track`\nmsg.headers = {}\nmsg.method = \"PATCH\"\nmsg.url = url\nmsg.headers[\"content-type\"] = \"application/json\"\n\nmsg.payload = body \n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2420,
        "y": 460,
        "wires": [
            [
                "df4ad185d43e4185",
                "4e873f91f89e0cf8"
            ]
        ]
    },
    {
        "id": "4e873f91f89e0cf8",
        "type": "http request",
        "z": "f6f2187d.f17ca8",
        "g": "64a1105c43380825",
        "name": "Update Track In DB",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 2650,
        "y": 460,
        "wires": [
            [
                "cf6cdbda66e51f78",
                "3908ce1703665b89"
            ]
        ]
    },
    {
        "id": "cf6cdbda66e51f78",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "g": "2637f2942bfebe7e",
        "name": "PATCH Call",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2890,
        "y": 380,
        "wires": []
    },
    {
        "id": "21733758d1e9866b",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "g": "2637f2942bfebe7e",
        "name": "Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2410,
        "y": 380,
        "wires": []
    },
    {
        "id": "80dd8c8f416f7904",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "g": "2637f2942bfebe7e",
        "name": "Incoming Request",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 380,
        "wires": []
    },
    {
        "id": "bbd7396b6f409af0",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "g": "418a8844eeabe5a2",
        "name": "Configure Player Call",
        "func": "let hostIP = env.get(\"HOST_IP\")\nvar url = `http://${hostIP}:48624/v1/playing`\n\nmsg.headers = {}\nmsg.method = \"GET\"\nmsg.url = url\nmsg.headers[\"content-type\"] = \"application/json\"\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 920,
        "y": 460,
        "wires": [
            [
                "646b26661549d44d"
            ]
        ]
    },
    {
        "id": "56c5ece56e17a587",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "g": "2637f2942bfebe7e",
        "name": "Original Track Info",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1850,
        "y": 380,
        "wires": []
    },
    {
        "id": "9d979931dff6a7b2",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "g": "1a2ddd55594ad60b",
        "name": "Configure Track DB Call",
        "func": "let hostIP = env.get(\"HOST_IP\")\nvar id = msg.payload.data.track.id\nvar url = `http://${hostIP}:48624/v1/track?id=${id}`\n\nmsg.headers = {}\nmsg.method = \"GET\"\nmsg.url = url\nmsg.headers[\"content-type\"] = \"application/json\"\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1410,
        "y": 460,
        "wires": [
            [
                "f778b6dd28f5f7e0"
            ]
        ]
    },
    {
        "id": "f778b6dd28f5f7e0",
        "type": "http request",
        "z": "f6f2187d.f17ca8",
        "g": "1a2ddd55594ad60b",
        "name": "Track DB Info",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "Content-Type",
                "keyValue": "",
                "valueType": "other",
                "valueValue": "application/json"
            }
        ],
        "x": 1620,
        "y": 460,
        "wires": [
            [
                "f54c99c0b471f69f",
                "56c5ece56e17a587",
                "7c8448bfae7be21d"
            ]
        ]
    },
    {
        "id": "3e55d3846750c2ee",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "g": "2637f2942bfebe7e",
        "name": "Full Hotcue Update",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2570,
        "y": 600,
        "wires": []
    },
    {
        "id": "8edba831be43e335",
        "type": "websocket in",
        "z": "f6f2187d.f17ca8",
        "g": "1259cc504cd4bce7",
        "name": "",
        "server": "95d276e44bdb1ff4",
        "client": "",
        "x": 140,
        "y": 80,
        "wires": [
            [
                "2565a4cce0bf913e"
            ]
        ]
    },
    {
        "id": "2565a4cce0bf913e",
        "type": "sd-input",
        "z": "f6f2187d.f17ca8",
        "g": "1259cc504cd4bce7",
        "name": "Stream Deck In",
        "x": 320,
        "y": 80,
        "wires": [
            [
                "10942ef9550db8a9"
            ]
        ]
    },
    {
        "id": "10942ef9550db8a9",
        "type": "switch",
        "z": "f6f2187d.f17ca8",
        "g": "1259cc504cd4bce7",
        "name": "Key Down",
        "property": "payload.event",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "keyDown",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 490,
        "y": 80,
        "wires": [
            [
                "180a89bcfa0dc3f1"
            ]
        ]
    },
    {
        "id": "216d36b450f46b70",
        "type": "file",
        "z": "f6f2187d.f17ca8",
        "g": "1259cc504cd4bce7",
        "name": "Save Color",
        "filename": "/tmp/hotcue/color.json",
        "filenameType": "str",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 1230,
        "y": 80,
        "wires": [
            [
                "d3b5945137920cf8"
            ]
        ]
    },
    {
        "id": "180a89bcfa0dc3f1",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "g": "1259cc504cd4bce7",
        "name": "Get Color",
        "rules": [
            {
                "t": "set",
                "p": "context.color",
                "pt": "msg",
                "to": "payload.payload.settings.id",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 640,
        "y": 80,
        "wires": [
            [
                "2728cd8db8d0e789"
            ]
        ]
    },
    {
        "id": "2728cd8db8d0e789",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "g": "1259cc504cd4bce7",
        "name": "Create Color Object",
        "func": "var newMsg = {payload: msg.context.color}\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 840,
        "y": 80,
        "wires": [
            [
                "dc7bcd926bfbc5b0",
                "aa720e0186adcac7"
            ]
        ]
    },
    {
        "id": "e274fa24373f795d",
        "type": "file",
        "z": "f6f2187d.f17ca8",
        "g": "1259cc504cd4bce7",
        "name": "Save Length",
        "filename": "/tmp/hotcue/length.json",
        "filenameType": "str",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 1070,
        "y": 140,
        "wires": [
            [
                "8cf2bccc7aeeb2fd"
            ]
        ]
    },
    {
        "id": "da1a6d688ba2f2fa",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "g": "1259cc504cd4bce7",
        "name": "Create Length Object",
        "func": "var newMsg = {payload: msg.context.length}\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 140,
        "wires": [
            [
                "e274fa24373f795d",
                "dc7bcd926bfbc5b0"
            ]
        ]
    },
    {
        "id": "2e97419f4f12e6a2",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "g": "1259cc504cd4bce7",
        "name": "Get Length",
        "rules": [
            {
                "t": "set",
                "p": "context.length",
                "pt": "msg",
                "to": "payload.payload.settings.id",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 670,
        "y": 140,
        "wires": [
            [
                "da1a6d688ba2f2fa"
            ]
        ]
    },
    {
        "id": "db2f086cc176a4d8",
        "type": "switch",
        "z": "f6f2187d.f17ca8",
        "g": "1259cc504cd4bce7",
        "name": "Key Down",
        "property": "payload.event",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "keyDown",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 510,
        "y": 140,
        "wires": [
            [
                "2e97419f4f12e6a2"
            ]
        ]
    },
    {
        "id": "859944f8fe694ba8",
        "type": "sd-input",
        "z": "f6f2187d.f17ca8",
        "g": "1259cc504cd4bce7",
        "name": "Stream Deck In",
        "x": 340,
        "y": 140,
        "wires": [
            [
                "db2f086cc176a4d8"
            ]
        ]
    },
    {
        "id": "695799a00a7f6a10",
        "type": "websocket in",
        "z": "f6f2187d.f17ca8",
        "g": "1259cc504cd4bce7",
        "name": "",
        "server": "8ecaf3da3c932eec",
        "client": "",
        "x": 150,
        "y": 140,
        "wires": [
            [
                "859944f8fe694ba8"
            ]
        ]
    },
    {
        "id": "fbf7630f81fc9b0e",
        "type": "websocket in",
        "z": "f6f2187d.f17ca8",
        "g": "1259cc504cd4bce7",
        "name": "",
        "server": "a9c4bfee845dd98b",
        "client": "",
        "x": 140,
        "y": 200,
        "wires": [
            [
                "645db50a9298d24a"
            ]
        ]
    },
    {
        "id": "645db50a9298d24a",
        "type": "sd-input",
        "z": "f6f2187d.f17ca8",
        "g": "1259cc504cd4bce7",
        "name": "Stream Deck In",
        "x": 340,
        "y": 200,
        "wires": [
            [
                "861f280fe8ada5f0"
            ]
        ]
    },
    {
        "id": "861f280fe8ada5f0",
        "type": "switch",
        "z": "f6f2187d.f17ca8",
        "g": "1259cc504cd4bce7",
        "name": "Key Down",
        "property": "payload.event",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "keyDown",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 510,
        "y": 200,
        "wires": [
            [
                "213a795c27e5c8a7"
            ]
        ]
    },
    {
        "id": "213a795c27e5c8a7",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "g": "1259cc504cd4bce7",
        "name": "Get Type",
        "rules": [
            {
                "t": "set",
                "p": "context.type",
                "pt": "msg",
                "to": "payload.payload.settings.id",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 660,
        "y": 200,
        "wires": [
            [
                "4ee06deb731a5149"
            ]
        ]
    },
    {
        "id": "4ee06deb731a5149",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "g": "1259cc504cd4bce7",
        "name": "Create TypeObject",
        "func": "var newMsg = {payload: msg.context.type}\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 850,
        "y": 200,
        "wires": [
            [
                "3dcbd3f1880bb4b3",
                "dc7bcd926bfbc5b0"
            ]
        ]
    },
    {
        "id": "3dcbd3f1880bb4b3",
        "type": "file",
        "z": "f6f2187d.f17ca8",
        "g": "1259cc504cd4bce7",
        "name": "Save Type",
        "filename": "/tmp/hotcue/type.json",
        "filenameType": "str",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 1070,
        "y": 200,
        "wires": [
            [
                "b54e3218ca55d02a"
            ]
        ]
    },
    {
        "id": "d3b5945137920cf8",
        "type": "websocket out",
        "z": "f6f2187d.f17ca8",
        "g": "1259cc504cd4bce7",
        "name": "",
        "server": "95d276e44bdb1ff4",
        "client": "",
        "x": 1410,
        "y": 80,
        "wires": []
    },
    {
        "id": "8cf2bccc7aeeb2fd",
        "type": "websocket out",
        "z": "f6f2187d.f17ca8",
        "g": "1259cc504cd4bce7",
        "name": "",
        "server": "8ecaf3da3c932eec",
        "client": "",
        "x": 1250,
        "y": 140,
        "wires": []
    },
    {
        "id": "b54e3218ca55d02a",
        "type": "websocket out",
        "z": "f6f2187d.f17ca8",
        "g": "1259cc504cd4bce7",
        "name": "",
        "server": "a9c4bfee845dd98b",
        "client": "",
        "x": 1250,
        "y": 200,
        "wires": []
    },
    {
        "id": "455944651c0e9b9a",
        "type": "switch",
        "z": "f6f2187d.f17ca8",
        "g": "2637f2942bfebe7e",
        "name": "Check If Hotcue Exists",
        "property": "context.hotcue",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nnull"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1240,
        "y": 600,
        "wires": [
            [
                "dad7a97684b69837",
                "578702576de7f698",
                "ea5d0db897016a4a"
            ]
        ]
    },
    {
        "id": "dad7a97684b69837",
        "type": "file in",
        "z": "f6f2187d.f17ca8",
        "g": "2637f2942bfebe7e",
        "name": "",
        "filename": "/tmp/hotcue/length.json",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 1510,
        "y": 600,
        "wires": [
            [
                "1d5ad53226a8d60d"
            ]
        ]
    },
    {
        "id": "578702576de7f698",
        "type": "file in",
        "z": "f6f2187d.f17ca8",
        "g": "2637f2942bfebe7e",
        "name": "",
        "filename": "/tmp/hotcue/type.json",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 1500,
        "y": 640,
        "wires": [
            [
                "fc9de93d80c8a5aa"
            ]
        ]
    },
    {
        "id": "d96d7cd009dff088",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "g": "2637f2942bfebe7e",
        "name": "Set Color",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "color",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1700,
        "y": 560,
        "wires": [
            [
                "9899db52f93909f3"
            ]
        ]
    },
    {
        "id": "9899db52f93909f3",
        "type": "join",
        "z": "f6f2187d.f17ca8",
        "g": "2637f2942bfebe7e",
        "name": "Combine New Attributes",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "3",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 1930,
        "y": 600,
        "wires": [
            [
                "e68335e7637ba3a6"
            ]
        ]
    },
    {
        "id": "1d5ad53226a8d60d",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "g": "2637f2942bfebe7e",
        "name": "Set Length",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "length",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1710,
        "y": 600,
        "wires": [
            [
                "9899db52f93909f3"
            ]
        ]
    },
    {
        "id": "fc9de93d80c8a5aa",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "g": "2637f2942bfebe7e",
        "name": "Set Type",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "type",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1700,
        "y": 640,
        "wires": [
            [
                "9899db52f93909f3"
            ]
        ]
    },
    {
        "id": "e68335e7637ba3a6",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "g": "2637f2942bfebe7e",
        "name": "Create Hotcue Name",
        "func": "var len = msg.payload.length\nvar type = msg.payload.type\nvar color = msg.payload.color\n\nif (type == \"Drop\") {\n    msg.context.hotcue.name = `${type}`\n} else if (type == \"PreDrop\") {\n    msg.context.hotcue.name = `${len}M Drop`\n} else {\n    msg.context.hotcue.name = `${len}M ${type}`\n}\n\nmsg.context.hotcue.color = color\nmsg.payload = msg.context.hotcue\nmsg.topic = \"hotcue\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2180,
        "y": 600,
        "wires": [
            [
                "b6e629a603905532",
                "3e55d3846750c2ee"
            ]
        ]
    },
    {
        "id": "ab2f005bb97ba11a",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "g": "2637f2942bfebe7e",
        "name": "Hotcue Info",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "context.hotcue",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1370,
        "y": 720,
        "wires": []
    },
    {
        "id": "7c8448bfae7be21d",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "g": "2637f2942bfebe7e",
        "name": "Get Hotcue Pos In Array",
        "func": "for (let index = 0; index < msg.payload.data.track.cuepoints.length; index++) {\n    if (msg.payload.data.track.cuepoints[index].position == msg.context.hotcue.number){\n        msg.context.hotcue = msg.payload.data.track.cuepoints[index]\n        break\n    }\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 990,
        "y": 600,
        "wires": [
            [
                "455944651c0e9b9a",
                "ab2f005bb97ba11a"
            ]
        ]
    },
    {
        "id": "ea5d0db897016a4a",
        "type": "file in",
        "z": "f6f2187d.f17ca8",
        "g": "2637f2942bfebe7e",
        "name": "",
        "filename": "/tmp/hotcue/color.json",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 1500,
        "y": 560,
        "wires": [
            [
                "d96d7cd009dff088"
            ]
        ]
    },
    {
        "id": "aa720e0186adcac7",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "g": "1259cc504cd4bce7",
        "name": "Color Check",
        "func": "var validColors = [\n    \"red_dark\", \"red\", \"red_light\", \"red_orange\",\n    \"orange\", \"beige\", \"yellow_dark\", \"yellow\",\n    \"lime\", \"green_light\", \"green\", \"green_dark\",\n    \"teal\", \"aqua\", \"aqua_dark\", \"blue_light\",\n    \"blue\", \"blue_dark\", \"blue_violet\", \"violet\",\n    \"violet_light\", \"magenta\", \"magenta_dark\",\n    \"magenta_red\", \"grey_light\", \"grey_dark\",\n    \"black\", \"white\"\n    ]\n\nvar valid = validColors.includes(msg.payload)\n\nif (valid == false) {\n    msg.payload = \"black\"\n    var colors = validColors.join(\", \");\n    node.warn('Invalid color sent. Valid colors: ' + colors)\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1070,
        "y": 80,
        "wires": [
            [
                "216d36b450f46b70"
            ]
        ]
    },
    {
        "id": "f42cb6858f28c0d7",
        "type": "websocket in",
        "z": "f6f2187d.f17ca8",
        "g": "f650764e5cd5d6ae",
        "name": "",
        "server": "4aed65781d926036",
        "client": "",
        "x": 120,
        "y": 960,
        "wires": [
            [
                "45e991c1c7b6e33d"
            ]
        ]
    },
    {
        "id": "45e991c1c7b6e33d",
        "type": "sd-input",
        "z": "f6f2187d.f17ca8",
        "g": "f650764e5cd5d6ae",
        "name": "Stream Deck In",
        "x": 300,
        "y": 960,
        "wires": [
            [
                "2ba392ad03723b3e"
            ]
        ]
    },
    {
        "id": "2ba392ad03723b3e",
        "type": "switch",
        "z": "f6f2187d.f17ca8",
        "g": "f650764e5cd5d6ae",
        "name": "Key Down",
        "property": "payload.event",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "keyDown",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 470,
        "y": 960,
        "wires": [
            [
                "51c167f56c927c6b"
            ]
        ]
    },
    {
        "id": "51c167f56c927c6b",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "g": "f650764e5cd5d6ae",
        "name": "Get Tag Name",
        "rules": [
            {
                "t": "set",
                "p": "context.tag.name",
                "pt": "msg",
                "to": "payload.payload.settings.id",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 660,
        "y": 960,
        "wires": [
            [
                "181adefd5035bf5c",
                "f7aa7f1f63828d95",
                "a24105d84afa685e"
            ]
        ]
    },
    {
        "id": "181adefd5035bf5c",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "g": "f650764e5cd5d6ae",
        "name": "Configure Player Call",
        "func": "let hostIP = env.get(\"HOST_IP\")\nvar url = `http://${hostIP}:48624/v1/playing`\n\nmsg.headers = {}\nmsg.method = \"GET\"\nmsg.url = url\nmsg.headers[\"content-type\"] = \"application/json\"\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 900,
        "y": 920,
        "wires": [
            [
                "910ffde140cf4f69"
            ]
        ]
    },
    {
        "id": "910ffde140cf4f69",
        "type": "http request",
        "z": "f6f2187d.f17ca8",
        "g": "f650764e5cd5d6ae",
        "name": "Get Playing Track",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "Content-Type",
                "keyValue": "",
                "valueType": "other",
                "valueValue": "application/json"
            }
        ],
        "x": 1110,
        "y": 920,
        "wires": [
            [
                "e451a71eec76eb16",
                "e1bfda935a3c9229"
            ]
        ]
    },
    {
        "id": "f7aa7f1f63828d95",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "g": "f650764e5cd5d6ae",
        "name": "Configure Tag List Call",
        "func": "let hostIP = env.get(\"HOST_IP\")\n\nvar url = `http://${hostIP}:48624/v1/tags`\n\nmsg.headers = {}\nmsg.method = \"GET\"\nmsg.url = url\nmsg.headers[\"content-type\"] = \"application/json\"\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 900,
        "y": 1020,
        "wires": [
            [
                "d5d3af59ba60cb9c"
            ]
        ]
    },
    {
        "id": "d5d3af59ba60cb9c",
        "type": "http request",
        "z": "f6f2187d.f17ca8",
        "g": "f650764e5cd5d6ae",
        "name": "Get Tag List",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "Content-Type",
                "keyValue": "",
                "valueType": "other",
                "valueValue": "application/json"
            }
        ],
        "x": 1110,
        "y": 1020,
        "wires": [
            [
                "c061e89d5957c355",
                "41857bcf23135a6a"
            ]
        ]
    },
    {
        "id": "24b6f38c4401919c",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "g": "f650764e5cd5d6ae",
        "name": "Get Track Tags",
        "rules": [
            {
                "t": "set",
                "p": "context.tags",
                "pt": "msg",
                "to": "payload.data.track.tags",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "response",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1740,
        "y": 920,
        "wires": [
            [
                "6c3ac3e24a827e24"
            ]
        ]
    },
    {
        "id": "6c3ac3e24a827e24",
        "type": "join",
        "z": "f6f2187d.f17ca8",
        "g": "f650764e5cd5d6ae",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 2010,
        "y": 920,
        "wires": [
            [
                "7fb75fe2353bd6fd",
                "5a45a9af78ee1a4e"
            ]
        ]
    },
    {
        "id": "c061e89d5957c355",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "g": "f650764e5cd5d6ae",
        "name": "Get Tag ID",
        "func": "var allTags = msg.payload.data.tags\n\nallTags.forEach(checkTag)\n\nfunction checkTag(item, index,arr){\n    tagsearch: if (arr[index].label == msg.context.tag.name) {\n        // node.warn(item)\n        msg.payload = arr[index].id\n        msg.topic = \"id\"\n        break tagsearch\n    }\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1310,
        "y": 1020,
        "wires": [
            [
                "6c3ac3e24a827e24",
                "7b9551ede587f0b6"
            ]
        ]
    },
    {
        "id": "5a45a9af78ee1a4e",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "g": "f650764e5cd5d6ae",
        "name": "Add/Remove Tag",
        "func": "//find tag in response\nvar tagFound = false\nfor (let index = 0; index < msg.payload.response.data.track.tags.length; index++) {\n    tagstatus: if (msg.payload.response.data.track.tags[index] == Number(msg.payload.id)){\n        //tag found\n        tagFound = true\n        // node.warn('Original Tags: ' + msg.payload.response.data.track.tags)\n        // node.warn('Tag Found, Deleting: ' + msg.payload.id)\n        var indexToRemove = index;\n        var numberToRemove = 1;\n\n        msg.payload.response.data.track.tags.splice(indexToRemove, numberToRemove);\n        // node.warn('New Tags: ' + msg.payload.response.data.track.tags)\n        break tagstatus\n    }\n}\n\nif (tagFound == false){\n    // node.warn('Original Tags: ' + msg.payload.response.data.track.tags)\n    // node.warn(\"Going to add it\")\n    msg.payload.response.data.track.tags.push(Number(msg.payload.id))\n    msg.payload.response.data.track.tags.sort(function (a, b) {\n        return a - b;\n    })\n    // node.warn('New Tags: ' + msg.payload.response.data.track.tags)\n}\n\n// node.warn(msg.payload)\nmsg.payload = msg.payload.response\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2190,
        "y": 920,
        "wires": [
            [
                "59c6fab70cd6ca90"
            ]
        ]
    },
    {
        "id": "09317b1d68d0b28a",
        "type": "websocket out",
        "z": "f6f2187d.f17ca8",
        "g": "f650764e5cd5d6ae",
        "name": "",
        "server": "4aed65781d926036",
        "client": "",
        "x": 2840,
        "y": 920,
        "wires": []
    },
    {
        "id": "a24105d84afa685e",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "g": "f650764e5cd5d6ae",
        "name": "Sent Tag Name",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.payload.settings.id",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 820,
        "wires": []
    },
    {
        "id": "e451a71eec76eb16",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "g": "f650764e5cd5d6ae",
        "name": "Playing Track",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1340,
        "y": 820,
        "wires": []
    },
    {
        "id": "41857bcf23135a6a",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "g": "f650764e5cd5d6ae",
        "name": "Full Tag List",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1370,
        "y": 1120,
        "wires": []
    },
    {
        "id": "7b9551ede587f0b6",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "g": "f650764e5cd5d6ae",
        "name": "Tag ID",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1590,
        "y": 1120,
        "wires": []
    },
    {
        "id": "7fb75fe2353bd6fd",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "g": "f650764e5cd5d6ae",
        "name": "Join Result",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2230,
        "y": 820,
        "wires": []
    },
    {
        "id": "59c6fab70cd6ca90",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "g": "f650764e5cd5d6ae",
        "name": "Create Update JSON",
        "func": "var body = {\n    id: msg.payload.data.track.id,\n        edits: {\n            tags: msg.payload.data.track.tags\n    }\n}\n\nlet hostIP = env.get(\"HOST_IP\")\nvar url = `http://${hostIP}:48624/v1/track`\nmsg.headers = {}\nmsg.method = \"PATCH\"\nmsg.url = url\nmsg.headers[\"content-type\"] = \"application/json\"\n\nmsg.payload = body \n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2420,
        "y": 920,
        "wires": [
            [
                "02ccc8da806fd20d",
                "1e040f5058f12703"
            ]
        ]
    },
    {
        "id": "02ccc8da806fd20d",
        "type": "http request",
        "z": "f6f2187d.f17ca8",
        "g": "f650764e5cd5d6ae",
        "name": "Update Track In DB",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 2650,
        "y": 920,
        "wires": [
            [
                "09317b1d68d0b28a"
            ]
        ]
    },
    {
        "id": "1e040f5058f12703",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "g": "f650764e5cd5d6ae",
        "name": "Update Body",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.edits.tags",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2770,
        "y": 840,
        "wires": []
    },
    {
        "id": "4d989fa9672072c8",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "g": "2637f2942bfebe7e",
        "name": "debug 11",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 2180,
        "y": 380,
        "wires": []
    },
    {
        "id": "e1bfda935a3c9229",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "g": "f650764e5cd5d6ae",
        "name": "Configure Track DB Call",
        "func": "let hostIP = env.get(\"HOST_IP\")\nvar id = msg.payload.data.track.id\nvar url = `http://${hostIP}:48624/v1/track?id=${id}`\n\nmsg.headers = {}\nmsg.method = \"GET\"\nmsg.url = url\nmsg.headers[\"content-type\"] = \"application/json\"\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1350,
        "y": 920,
        "wires": [
            [
                "de19730850b48450"
            ]
        ]
    },
    {
        "id": "de19730850b48450",
        "type": "http request",
        "z": "f6f2187d.f17ca8",
        "g": "f650764e5cd5d6ae",
        "name": "Track DB Info",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "Content-Type",
                "keyValue": "",
                "valueType": "other",
                "valueValue": "application/json"
            }
        ],
        "x": 1560,
        "y": 920,
        "wires": [
            [
                "24b6f38c4401919c"
            ]
        ]
    },
    {
        "id": "b33717f94a7746f9",
        "type": "websocket-listener",
        "path": "/hotcue/update",
        "wholemsg": "false"
    },
    {
        "id": "95d276e44bdb1ff4",
        "type": "websocket-listener",
        "path": "/hotcue/color",
        "wholemsg": "false"
    },
    {
        "id": "8ecaf3da3c932eec",
        "type": "websocket-listener",
        "path": "/hotcue/length",
        "wholemsg": "false"
    },
    {
        "id": "a9c4bfee845dd98b",
        "type": "websocket-listener",
        "path": "/hotcue/type",
        "wholemsg": "false"
    },
    {
        "id": "4aed65781d926036",
        "type": "websocket-listener",
        "path": "/tags",
        "wholemsg": "false"
    }
]
